@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap');

body {
	background-image: url(img/bodybackgroundwhite.jpg);
	background-color: #fff;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	font-family: Roboto Condensed,sans-serif;
}

/*----------МЕНЮ НАЧАЛО----------*/

.header {
	margin: 0px;
	padding: 0px;
	background-color: #FFDA8F;
	background-size: auto;
	display: flex;
	display: flex;
	flex-direction: row;
}

.menu {
	padding: 5px 10px;
	background-color: #73231E;
	display: flex;
	justify-content: space-around;
	box-shadow: 0 0 5px 0 #000;
}

.minimenu {
	text-decoration: none;
	font-weight: bold;
	font-size: 30px;
	color: #fff;
}

.logo {
	height: 84px;
	margin: auto 0;
	padding: 8px;
	/*background-color: #72221E;*/
}

.logoa {
	height: 84px;
}

.menuword {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	flex-direction: column;
	margin: 0 auto;
}

.ansv1 {
	display: flex;
	flex-wrap: wrap;
}

.boxnumber {
	display: flex;
	flex-direction: row;
}

.number1 {
	color: #000;
	text-decoration: none;
	font-size: 25px;
	font-weight: lighter;
}

.number2 {
	color: #000;
	text-decoration: none;
	font-weight: bold;
	font-size: 25px;
}

.numberblock {
	display: flex;
	margin-left: 50px;
	flex-direction: column;
}

.minimenu:hover {
	color: #FFDA8F;
	transition: 0.5s;
}

/*МЕНЮ ДЛЯ ТЕЛЕФОНА НАЧАЛО*/
/*МОБИЛКА*/
@media (max-width : 1000px) {
.menuword {
	display: none;
}
.main-item {
	display: block;
}

.minimenu {
	display: none;
}

.bludo {
	display: flex;
	flex-wrap: wrap;
	height: 600px;
	width: 450px;
	background-color: #fff;
	margin: 30px 10px 30px 10px;
	padding: 0px;
	border-radius: 5px;
	box-shadow: 0px 0px 10px 1px #000;
	flex-direction: column;
	overflow: hidden;
}

.logobludo {
	height: 340px;
	/*width: 100%;*/
	border-radius: 5px;
	text-align: center;
}

.nazvaniekat {
	display: flex;
	color: #4A2C00;
	background-color: #BDBDBD;
	justify-content: center;
	text-decoration: none;
	font-size: 60px;
	flex-wrap: wrap;
	margin: 10px;
}

.nazvanie {
	display: flex;
	color: #4A2C00;
	background-color: #BDBDBD;
	justify-content: center;
	text-decoration: none;
	font-size: 33px;
	font-weight: bold;
	flex-wrap: wrap;
	margin: 10px 10px 3px 10px;
}

.cena {
	display: flex;
	color: #4A2C00;
	text-decoration: none;
	font-size: 45px;
	flex-wrap: wrap;
	margin: 5px 10px 5px 10px;
}

.zakazat {
	display: flex;
	color: #4A2C00;
	text-decoration: none;
	font-size: 42px;
	font-weight: bold;
	text-decoration: none;
	flex-wrap: wrap;
	text-align: center;
	margin: auto 10px 13px 20px;
	box-shadow: 0px 0px 0px 3px #000;
	padding: 2px 14px 2px 14px;
	justify-content: center;
	background-color: #fff;
	height: 70px;
	flex-direction: column;
}

.cenzak {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: auto 0px 0px 0px;
	padding-top: 5px;
	background-image: url(img/bodybackgroundwhite.jpg);
	-webkit-background-size: 80px;
	background-size: 80px;
}

.zakazat:hover {
	background-color: #72221E;
	color: #E8C172;
	transition: 0.3s;
}

/*ОФОРМЛЕНИЕ ЗАКАЗА НАЧАЛО*/

.dostavka {
	margin-top: 30px;
	background-color: #232323;
	color: #fff;
	width: 100%;
	font-size: 30px;
	padding: 30px 50px 30px 50px;
	text-align: left;
	text-shadow: 0 0 10px #000;
	border: 15px dashed #fff;
}

}/*MEDIA----------*/
/*КОМП*/
@media (min-width : 1000px) {
.main-item {
	display: none;
}

.nav {
	display: none;
}

.nav-toggle {
	display: none;
}

.bludo {
	display: flex;
	flex-wrap: wrap;
	height: 400px;
	width: 300px;
	background-color: #fff;
	margin: 30px 50px 30px 50px;
	padding: 0px;
	border-radius: 5px;
	flex-direction: column;
}

.logobludo {
	height: 225px;
	/*width: 100%;*/
	border-radius: 5px;
	text-align: center;
}

.nazvaniekat {
	display: flex;
	color: #4A2C00;
	background-color: #BDBDBD;
	justify-content: center;
	text-decoration: none;
	font-size: 40px;
	font-weight: bold;
	flex-wrap: wrap;
	margin: 10px;
}

.nazvanie {
	display: flex;
	color: #4A2C00;
	background-color: #BDBDBD;
	justify-content: center;
	text-align: center;
	text-decoration: none;
	font-size: 25px;
	font-weight: bold;
	flex-wrap: wrap;
	margin: 6px 6px 0px 6px;
}

.cena {
	display: flex;
	color: #4A2C00;
	text-decoration: none;
	font-size: 20px;
	font-weight: bold;
	margin: 5px auto 0px auto;
	/*margin: 5px 0px 0px 5px;*/
	text-align: center;
	justify-content: center;
}

.zakazat {
	display: flex;
	color: #4A2C00;
	text-decoration: none;
	font-size: 30px;
	text-decoration: none;
	text-align: center;
	margin: auto 10px 10px 10px;
	box-shadow: 0px 0px 0px 3px #000;
	padding: 2px;
	justify-content: center;
	background-color: #fff;
}

.cenzak {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: auto 0px 0px 0px;
	padding-top: 10px;
	background-image: url(img/bodybackgroundwhite.jpg);
	-webkit-background-size: 80px;
	background-size: 80px;
}

.zakazat:hover {
	background-color: #72221E;
	color: #E8C172;
	transition: 0.3s;
}

/*ОФОРМЛЕНИЕ ЗАКАЗА НАЧАЛО*/

.dostavka {
	margin-top: 30px;
	background-color: #232323;
	color: #fff;
	width: 100%;
	font-size: 30px;
	padding: 30px 50px 30px 50px;
	text-align: left;
	text-shadow: 0 0 10px #000;
	border: 15px dashed #fff;
}

.akcia {
	width: 50%;
}

}/*MEDIA----------*/

.sub-menu {
	position: absolute;
	/*margin: 40px 0px 0px 20%;*/
	left: 25%;
}

.main-item {
	background-image: url(img/menub.png);
	background-size: 100%;
	height: 40px;
	width: 40px;
	background-color: #F5F5F5;
	margin-top: 25px;
	position: relative;
	margin: auto 25px auto auto;
}

.ansvainv {
	color: #4A2C00;
	text-decoration: none;
	font-size: 70px;
	padding: 0px 30%;
	justify-content: space-around;
	display: flex;
	flex-direction: column;
	box-shadow: 0 0 0 3px #000;
}

.sub-menu { 
   display: none;
} 
.main-item:focus ~ .sub-menu, 
.main-item:active ~ .sub-menu, 
.sub-menu:hover { 
   display: block;
}

/*МЕНЮ ДЛЯ КОМПЬЮТЕРА КОНЕЦ*/
/*----------МЕНЮ КОНЕЦ----------*/
/*----------БЛЮДА НАЧАЛО----------*/

.menublocks {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

/*ОФОРМЛЕНИЕ ЗАКАЗА КОНЕЦ*/
